QLabel {
    color: white;
    font-size: 30px;
    text-align: center;
}
QLabel#multi{
    color: rgb(141, 139, 255);
    font-size: 30px;
    text-align: center;
}
QLabel#reportmulti{
    color: rgb(122, 255, 89);
    font-size: 18px;
    text-align: center;
}
QPushButton {
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(99, 37, 124);
}
QPushButton:hover {
    background-color: rgb(57, 14, 75);
}
QPushButton:pressed {
    background-color: rgb(114, 43, 145);
}

QMainWindow#my {
    background-color: rgb(23, 11, 36);
}
QScrollArea{
    background-color: rgb(23, 11, 36);
}


QLineEdit{
    font-size: 40px;
}

QPushButton#mutiready {
    background-color: rgb(61, 255, 61);
    color:black;
}
QPushButton#mutiready1 {
    color:black;
}
QPushButton#mutiready:hover {
    background-color: rgb(43, 129, 43);
}

QPushButton#mutiready:disabled {
    background-color: rgb(71, 73, 71);
}

QPushButton#c {
    font-size: 14px;
    color: white;
    border-radius: 0px;
    padding: 4px;
    background-color: rgb(42, 33, 46);
}

QPushButton#c:pressed  {
    background-color: rgb(187, 168, 197);
}

QPushButton#c:hover {
    background-color: rgb(11, 6, 14);
}

QWidget#g {
    background-color: rgb(0, 0, 0);
}
QLabel#nameMultiplayer{
    color: rgb(78, 89, 255);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
QCheckBox#checkready:checked{
    background-color: rgb(239, 255, 11);
    color: black;
    padding: 6px;
    border-radius: 10px;
}
QPushButton#kick1{
    padding: 2px;
    font-size: 14px;
}